.burger-menu {
  background-color: #112240;
  height: 100vh;
  top: 0;
  right: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  z-index: 20;
  transition: all 0.5;
  animation: moveToLeft 0.4s ease-in-out;

  @keyframes moveToLeft {
      0% {
          transform: translateX(300px);
      }
      100% {
        transform: translateX(0px);
    }
  }
  nav {
    color: #b3bfde;
    font-size: 18px;
    cursor: pointer;
    margin: 15px 0;
    span {
      margin-right: 5px;
      font-family: "Space Mono";
      color: white;
    }
    transition: all 0.3s;
    &:hover {
      color: white;
    }
  }
  button {
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin: 15px 0;
    height: 40px;
    font-family: var(--secondary-font);
    font-weight: 600;
    width: 90px;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  img {
    height: 30px;
    position: fixed;
    right: 30px;
    top: 20px;
    filter: invert(1);
  }
}
